In [1]:
# Mixtend 설치
# !pip install mlxtend

In [2]:
# apiori 알고리즘 관련 라이브러리
import mlxtend

In [3]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings(action = 'ignore')

In [4]:
data = np.array([
    ['우유', '기저귀', '쥬스'],
    ['양상추', '기저귀', '맥주'],
    ['우유', '양상추', '기저귀', '쥬스'],
    ['양상추', '맥주']
])

In [5]:
from mlxtend.preprocessing import TransactionEncoder

In [6]:
te = TransactionEncoder()

In [7]:
te_ary = te.fit(data).transform(data)
te_ary

array([[ True, False, False,  True,  True],
       [ True,  True,  True, False, False],
       [ True, False,  True,  True,  True],
       [False,  True,  True, False, False]])

In [8]:
te.columns_

['기저귀', '맥주', '양상추', '우유', '쥬스']

In [9]:
df = pd.DataFrame(te_ary, columns = te.columns_)
df

     기저귀     맥주    양상추     우유     쥬스
0   True  False  False   True   True
1   True   True   True  False  False
2   True  False   True   True   True
3  False   True   True  False  False

In [10]:
from mlxtend.frequent_patterns import apriori

In [11]:
apriori(df, min_support = 0.5, use_colnames = True)

    support       itemsets
0      0.75          (기저귀)
1      0.50           (맥주)
2      0.75          (양상추)
3      0.50           (우유)
4      0.50           (쥬스)
5      0.50     (기저귀, 양상추)
6      0.50      (기저귀, 우유)
7      0.50      (기저귀, 쥬스)
8      0.50      (양상추, 맥주)
9      0.50       (쥬스, 우유)
10     0.50  (기저귀, 쥬스, 우유)

# Word2Vec

In [12]:
# !pip install gensim

In [13]:
from gensim.models import Word2Vec

In [14]:
doc = [
    'you say goodbye and I say hello', 
    'i say happy or he said white'
]

In [15]:
# [처리내용 for one in 복수형태의 자료구조] => 항상 결과는 리스트
sentences = [ sentence.split(' ') for sentence in doc ]
sentences

[['you', 'say', 'goodbye', 'and', 'I', 'say', 'hello'],
 ['i', 'say', 'happy', 'or', 'he', 'said', 'white']]

In [16]:
model = Word2Vec(window = 1, min_count = 1, sg = 1)

In [17]:
model.build_vocab(sentences)

In [18]:
model.wv.most_similar('say')

[('and', 0.21617144346237183),
 ('hello', 0.09291721880435944),
 ('you', 0.07963485270738602),
 ('goodbye', 0.06285080313682556),
 ('I', 0.027057481929659843),
 ('i', 0.0161347147077322),
 ('white', -0.010839177295565605),
 ('or', -0.027750371024012566),
 ('said', -0.05234675854444504),
 ('happy', -0.05987628921866417)]